In [13]:
import os
import sys
import numpy as np
import pandas as pd
from sisepuede.core.support_classes import Regions, TimePeriods
from sisepuede.core.model_attributes import ModelAttributes

from sisepuede.manager.sisepuede_examples import SISEPUEDEExamples
from sisepuede.manager.sisepuede_file_structure import SISEPUEDEFileStructure
import sisepuede.core.support_classes as sc
import sisepuede.transformers as trf
import sisepuede.utilities._plotting as spu
import sisepuede.utilities._toolbox as sf
import sisepuede as si

In [19]:
sector_name = 'transport'

In [20]:
parent_dir = os.path.abspath('..')
raw_data_dir_path = os.path.join(parent_dir, 'data', 'raw', sector_name)

In [22]:
iso_code3_cw_df = pd.read_csv(os.path.join(raw_data_dir_path, 'iso_code3_cw.csv'))
iso_code3_cw_df.head()

                  Country Name ISO3
0                        Aruba  ABW
1  Africa Eastern and Southern  AFE
2                  Afghanistan  AFG
3   Africa Western and Central  AFW
4                       Angola  AGO

In [27]:
df_freight=pd.read_csv(os.path.join(raw_data_dir_path, 'imputed_freight_data.csv'))
df_aviation=pd.read_csv(os.path.join(raw_data_dir_path, 'imputed_aviation_freight_data.csv'),index_col=0)

df_freight = df_freight.fillna(0)

In [28]:
df_freight.head()

  SUBJECT LOCATION  TIME        Value      INDICATOR      MEASURE FREQUENCY
0   COAST      GEO  2019    545.61000  FREIGHTTRANSP  MLN_TONNEKM         A
1   COAST      ABW  2019  12602.74931  FREIGHTTRANSP  MLN_TONNEKM         A
2   COAST      IRQ  2018  38673.63137  FREIGHTTRANSP  MLN_TONNEKM         A
3   COAST      MNE  2017     81.60000  FREIGHTTRANSP  MLN_TONNEKM         A
4   COAST      ETH  2017  23472.87808  FREIGHTTRANSP  MLN_TONNEKM         A

In [29]:
df_aviation.head()

  Nation iso_code3  Year  Aviation (mtkm)
0  Aruba       ABW  2011       530.150719
1  Aruba       ABW  2012       530.812871
2  Aruba       ABW  2013       531.473032
3  Aruba       ABW  2014       532.132309
4  Aruba       ABW  2015       532.791722

In [ ]:
# set the directory path and the prefix string
directory = grandparentdir
prefix = 'frac_trns_mtkm_dem_freight'

frac_mtkm=[]
# iterate over all items in the directory
for item in os.listdir(directory):
    # check if the item is a directory and starts with the prefix
    if os.path.isdir(os.path.join(directory, item)) and item.startswith(prefix):
        frac_mtkm.append(item)
        # print the directory name
        print(item)
frac_mtkm